# Putting these here for RTD
sphinx-argparse
sphinx-bootstrap-theme
# I think this is a bug in jupyter client
# for some reason jupyter_client.manager is called
# which generates an ImportError
# maybe related https://github.com/jupyter/nbconvert/issues/495
jupyter_client
# Note: We might need to drop jupyter_client because of zmq version incompatibility.
# But really, we might not need sphinx at all anymore. ~cdunn
# for ipython notebooks in sphinx docs
nbsphinx
avro
requests
iso8601
# For sphinx extension
ipython
# ipython requires this?
matplotlib
